.CartImg {
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

/* @media screen and (max-width: 800px) {
  .CartImg,
  .Count,
  .TotalCount {
    width: 40% !important; 
    height: 40% !important;
  }
} */

.Count {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: -30px;
  margin-left: 86px;
  background-color: #bece39;
  /* margin-top: -20px; */

  border: 2px solid #bece39;
  border-radius: 100px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .Count {
    font-size: medium;
    margin-bottom: -20px;
    margin-left: 75px;
    width: 30px;
  }
}

@media screen and (max-width: 800px) {
  .ant-drawer-body {
    padding: 15px !important;
  }
}

.CartImgDiv {
  position: fixed;
  top: 33px;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 800px) {
  .CartImgDiv {
    margin-top: 1.5rem;
    width: 45px;
  }
}

.TotalCount {
  width: 140%;
  background-color: white;
  margin-left: 35px;
  margin-top: -5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-large;
  border: 1px solid #e06da5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TotalPrice {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .TotalPrice {
    font-size: 1.25rem;
  }
}

.SmallIcon {
  font-size: 18px;
  font-weight: 900;
}

.CartImg:hover {
  cursor: pointer;
}

/* .MainDrawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.ForPay {
  font-weight: bold;
  font-size: x-large;
  margin-top: -5px;
}

.TotalCountInFullCartDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.TotalCountInFullCart {
  width: 100px;
  height: 28px;
  background-color: white;
  /* margin-left: 35px; */
  margin-top: -5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-large;
  border: 1px solid #e06da5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PayBtn {
  font-weight: bold;
  font-size: large;
  width: 180px;
  height: 30px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #e06da5;
  border: 1px solid #bece39;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .PayBtn {
    width: 150px;
  }
}

.modalTxtErrorCart {
  background-color: white !important;
  margin-top: 5px;
  width: 400px;
  height: 80px;
  border-radius: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .modalTxtErrorCart {
    width: 350px;
  }
}

.modalTxtErrorCart div {
  padding: 30px;
}

@media screen and (max-width: 800px) {
  .modalTxtErrorCart div {
    padding: 20px;
  }
}
