.header {
  width: 100vw;
  height: 160px;
  background-color: #e06da5;
}

.logo img {
  width: 100px;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .logo img {
    width: 46px;
    margin-bottom: 65px;
  }
}

.logo {
  margin-left: 50%;
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 82%;
  }
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -39px;
}

@media screen and (max-width: 800px) {
  .Menu {
    display: none;
  }
}

.Menu div {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.Menu div:hover {
  border-top: 4px solid #ffba26;
  color: green;
  margin-top: 30px;
  cursor: pointer;
  padding-top: 8px;
}

.AdinAndLogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
}

@media screen and (max-width: 800px) {
  .AdinAndLogoDiv {
    margin-top: -13%;
  }
}

.AdinAndLogoDiv :hover {
  cursor: pointer;
}

.Active {
  border-bottom: 4px solid #ffba26;
  color: green !important;
  /* margin-bottom: 5px; */
  padding-bottom: 3px;
}

.tagIcon {
  margin-right: 30px;
}
