Table {
  margin: 0px auto;
  width: 85%;
}

.TableDiv {
  height: 450px;

  /* overflow: auto; */
  margin-top: 20px;
  width: 70%;
  margin: 0px auto;
  margin-top: 20px;
}

/* td {
  width: 10px;
}

tr {
  height: 5px;
}
.MuiTableCell-body {
  width: 10px;
}*/
.MuiTableCell-root {
  padding: 2px !important;
}

.MTableHeader-header-13 .MuiTableCell-alignLeft {
  padding-left: 25px !important;
}
.MuiTableCell-alignRight {
  width: 5px !important;
  text-align: center !important;
}

.MuiTableCell-alignLeft {
  width: 5px !important;
  text-align: center !important;
}
/* table,
th,
td {
  border: 1px solid black;
  text-align: center;
} */
/* 
.Component-horizontalScrollContainer-12 {
  position: relative;
} */

/* .MuiTable-root {
  position: absolute;
}

.MTableToolbar-root-5 {
  position: relative;
} */
